#getting-started, .getting-started-color:hover, .getting-started-background { background: #5F219F;}
#cs-basics, .cs-basics-color:hover, .cs-basics-background { background: #3C29A3;}
#web, .web-color:hover,  .web-background{ background: #1b54b0;}
#game-maker, .game-maker-color:hover, .game-maker-background { background: #499000;}
#processing, .processing-color:hover, .processing-background { background: #AE9300;}
#java, .java-color:hover, .java-background { background: #C66D03;}
#flash, .flash-color:hover, .flash-background { background: #9E0800;}
#image-manipulation, .image-manipulation-color:hover, .image-manipulation-background { background: #A9188D;}
#brain-teasers, .brain-teasers-color:hover, .brain-teasers-background { background: #666;}
.cs-basics-text-color { color: #3C29A3;}
.web-text-color { color: #1b54b0;}
.game-maker-text-color { color: #499000;}
.processing-text-color { color: #AE9300;}
.java-text-color { color: #C66D03;}
.flash-text-color { color: #9E0800;}
.image-manipulation-text-color { color: #5F219F;}
.brain-teasers-text-color { color: #666;}

.nav-col {z-index:10;float:left;width:9.09%;height:1px}
.nav-item {position:relative;height:13px;border-bottom:1px solid #333;display:block;z-index:20;}
.nav-item:hover {background-color:#444;border-bottom-color:#888;}
.active-link, .nav-item:active {background-color:#eee;border-bottom-color:#333;}

.module h3 small {color:#ccc}
.module h3 {color:#eee; margin:1em 0;}
.module-header h3{font-size:200%;}

body {padding-top: 40px;}
a {cursor: url("../img/mouse-active.png"),auto;}
.subject-area {margin: 0 12px 12px 12px;}
.module {padding-top:50px;}
.module a, .module a:link {color:#ddd;}
.module a:hover {color:#eee;}
.module a:active {color:#fff;}
.module a:visited {color:#ddd;}
.subject-area{padding-bottom:70px;}

.module-subheading {color:#111;margin:10px 0;font-size:1.25em;}

.challenge-map {background-repeat:no-repeat;position:relative;}
.challenge {min-height:16px;min-width:16px;background: url("../img/logo16-black.png") no-repeat;display:block;}
.challenge:hover {background-image: url("../img/logo16-white.png");}
.challenge-discussion-link {height:16px;width:16px;background: url("../img/disqus-logo-light.png") no-repeat;display:inline-block;float:left;}
.challenge-discussion-link:hover {background-image: url("../img/disqus-logo-dark.png");}
.challenge-map .tooltip-inner{width:110px;}

.video-playlist{list-style-type:none;margin-left:0;}
.discussion-link {margin-top:2px;height:16px;width:16px;background: url("../img/disqus-logo-dark.png") no-repeat;display:block;float:left;}
.discussion-link:hover {background-image: url("../img/disqus-logo-light.png");}
.video-link{padding-left:8px;}

.textpages{list-style-type:none;margin-left:0;}
.textpage-link{padding-left:8px;}

@media (max-width: 979px) {
}
@media (max-width: 767px) {
  body{
    padding-left:0px;
    padding-right:0px;
  }
  .container-fluid {
    padding-left:20px;
    padding-right:20px;
  }
}