#cs-basics, .cs-basics-color:hover { background: #3C29A3 !important;}
#web, .web-color:hover { background: #1b54b0 !important;}
#game-maker, .game-maker-color:hover { background: #499000 !important;}
#processing, .processing-color:hover { background: #AE9300 !important;}
#java, .java-color:hover { background: #C66D03 !important;}
#flash, .flash-color:hover { background: #9E0800 !important;}
#image-manipulation, .image-manipulation-color:hover { background: #5F219F !important;}
#brain-teasers, .brain-teasers-color:hover { background: #666 !important;}
.cs-basics-text-color { color: #3C29A3 !important;}
.web-text-color { color: #1b54b0 !important;}
.game-maker-text-color { color: #499000 !important;}
.processing-text-color { color: #AE9300 !important;}
.java-text-color { color: #C66D03 !important;}
.flash-text-color { color: #9E0800 !important;}
.image-manipulation-text-color { color: #5F219F !important;}
.brain-teasers-text-color { color: #666 !important;}

.module h3 small {color:#ccc}
.module h3 {color:#eee; margin:1em 0;}
.module-header h3{font-size:200%;}

body {padding-top: 40px;}
.subject-area {margin: 0 12px 12px 12px;}
.module {padding-top:50px;}
.module a, .module a:link {color:#ddd;}
.module a:hover {color:#eee;}
.module a:active {color:#fff;}
.module a:visited {color:#ddd;}
.subject-area{padding-bottom:70px;}

.module-subheading {color:#111 !important;margin:10px 0;font-size:1.25em;}

.challenge-map {background-repeat:no-repeat;position:relative;}
.challenge {min-height:16px;min-width:16px;background: url("../img/logo16-black.png") no-repeat;display:block;}
.challenge:hover {background-image: url("../img/logo16-white.png");}
.challenge-discussion-link {height:16px;width:16px;background: url("../img/disqus-logo-light.png") no-repeat;display:inline-block;float:left;}
.challenge-discussion-link:hover {background-image: url("../img/disqus-logo-dark.png");}
.challenge-map .tooltip-inner{width:110px;}

.video-playlist{list-style-type:none;margin-left:0;}
.discussion-link {margin-top:2px;height:16px;width:16px;background: url("../img/disqus-logo-dark.png") no-repeat;display:block;float:left;}
.discussion-link:hover {background-image: url("../img/disqus-logo-light.png");}
.video-link{padding-left:8px;}

.textpages{list-style-type:none;margin-left:0;}
.textpage-link{padding-left:8px;}

#back-to-top{text-decoration:none;display:block;position:fixed;padding:8px;font-size:1em;background:#333;color:#ddd;bottom:20px;right:0px}
#back-to-top:hover{background:#222;color:#fff;}

@media (max-width: 979px) {
  body {padding-top:0px;}
}
@media (max-width: 767px) {
  body{
    padding-left:0px;
    padding-right:0px;
  }
  .container-fluid {
    padding-left:20px;
    padding-right:20px;
  }
}