article, section, aside, hgroup, nav, header, footer, figure, figcaption {
  display: block;
}

body {
	margin: 0;
	background-color: #0D58A6;
	background-image: url("texture.png");
	background-repeat: repeat-xy;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	color:#ccc;
	background-attachment:fixed;
}

#wrapper {
	position: relative;
	margin:0;
	padding:1px 0 0 0;
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	background-color: black;
	box-shadow: 3px 2px 12px rgba(0, 0, 0, 0.90);
}
#fade {
	position: fixed;
	width:900px;
	top: 0;
	left: 50%;
	height:60px;
	margin-left:-450px;
	background-image: url("fade.png");
	background-repeat: repeat-x;
}

#title {
	text-align:center;
	font-size:9px;
	color: white;
	margin: 15px 20px 5px 20px;
	font-weight:900;
	background-color: rgb(13,88,166);
	background-image: url("texture.png");
	background-repeat: repeat-xy;
	font-size:3em;
	font-family:verdana;
	padding: 8px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5) inset;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.60);
}
#subtitle {
	text-align: center;
	font-weight:900;
	margin-bottom:13px;
	color: #BBBBBB;
}

.section {
	clear: both;
}

.section h3{
	clear:both;
	padding-left: 20px;
	margin: 0;
}

.section p , .course-title p {
	color:#888;
	font-size: .71em;
	padding-left: 10px;
	margin: 0;
	width:75%;
	clear:both;
}
.section p {margin:0 0 8px 20px;}

.course-title {
	padding-left: 20px;
	margin: 0;
}


.course-title h2 {
	margin-bottom: 5px;
	text-align: center;
	background-color: rgb(13,88,166);
	background-image: url("texture.png");
	background-repeat: repeat-xy;
	color: white;
	font-size:1.5em;
	font-family:verdana;
	float:left;
	padding: 8px;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5) inset;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.60);
}

.section div {
	float: left;
	width: 31%;
	margin: 0;
	margin-left: 20px;
}

.section div ul {
	list-style-type: none;
	margin:8px 0 12px 0;
	padding:0;
}

.section li {
	font-size: .8em;
	margin: 2px 0;
	padding: 0;
}



footer {
	width:100%;
	font-size: .7em;
	text-align:center;
	clear: both;
	margin-bottom:15px;
	padding-bottom:8px;
}
.separator {
	clear:both;
	color: #FF9901;
	display: block; height: 1px;
    border: 0; border-bottom: 2px solid white;
    margin: 0 auto; padding:8px 0 0 0;
}
.separator-small {
	clear:both;
	color: #FF9901;
	display: block; height: 1px;
    border: 0; border-bottom: 1px solid #555;
    margin: 0 auto 1.5em auto; padding: 10px 0 0 0;
	width:97%;
}

nav ul
{
  list-style:none;
  padding:0px;
  height:20px;
  margin:8px 67px;
}

nav li
{
  float:left;
}

nav a, nav a:link, nav a:visited
{
	color:#FFFFFF;
	background:#0D58A6;
	margin-right:5px;
	font-weight:bold;
	font-size:12px;
	font-family:verdana;
	text-decoration:none;
	display:block;
	padding:0 7px;
	height:25px;
	line-height:25px;
	text-align:center;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.5) inset;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.90);
	background-image: url("texture.png");
}
nav a:hover
{
	box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.8) inset;
}
nav a:active
{
	box-shadow: 2px 3px 12px rgba(0, 0, 0, 0.9) inset;
}
br{
	 clear:both;
}
hr {
	width: 896px;
}

.hide {
	display: none;
}
a:link    {color:#4289D3;}
a:visited {color:#0D58A6;}
a:hover   {color:#aaa;}
a:active  {color:white;}
::selection  {
	color:white;
	background-color:#4188D2;
}